*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    right: 0;
}

.progress-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    transition-delay: 1s;
    transition-duration: 1s;
}

.progress-container label {
    color: white;
    text-align: center;
    font-size: 3.5em;
}

.progress-bar {
    height: 30px;
    width: 15vw;
    margin: 5px;
}

.current-text {
    color: white;
}